/* reseet default styles */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: antiquewhite;
}


/* footer */

#logo{
    font-style: italic;
    font-weight: 1000
    
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
    border-bottom: rgb(238, 204, 204) 2px solid;
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
}

#logo{
    cursor: pointer;
}

.bar{
    cursor: pointer;
}

.Navbar{
    transition: all 0.3s ease 0s;
}

.Navbar{
    color: aquamarine;
    display: flex;
    gap: 50px;
    list-style: none;
    text-decoration: none;
}

.bar{
    padding: 10px;
    background-color: rgb(147, 147, 176);
    border: none;
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    font-size: large;
    width: fit-content;
    margin-top: 50px;
    size: 30px;
}


a{
    text-decoration: none;
}

.wrapper{
    font-weight: 50;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(82, 20, 140);
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    font-size: larger;
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    size: 30px;
}

.make{
    margin: 5rem 0rem;

}

h2.make{
    font-weight: lighter;
    font-size:20px;

}

.learn{
    padding: 10px;
    background-color: rgb(147, 147, 176);
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    width: fit-content;
    margin-top: 50px;
    size: 30px;
}

.location{
    display: flex;
    justify-content: space-between;
    font-size: xx-large;
    font-family: Arial, Helvetica, sans-serif;
    padding: 50px;
    margin-top: 0em;

}

img.image{
    float: right;
    margin-right: 5rem;
}

.image{
    flex-basis: 50%;
}

.play{
    color: blue;
}

svg{
    margin-left: 0.5rem;
}

.search{
    padding: 5px;

}
.sec2{
    border-radius: 5px;
    color: rgb(8, 2, 14);
    font-size: larger;
    box-shadow: 20px 20px 20px ;
    margin: 20px;
    padding: 50px;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    background-color: rgb(122, 9, 243);
    padding: 2em;
    font-weight: 600;
    font-family: 'Times New Roman', Times, serif;
}

#works{
    text-align: center;
    font-size: xx-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 900;
    align-items: center;

}

#how{
    font-size: x-large;
    font-weight: 800;
    font-size: xx-large;
    align-items: center;
}

#our{
    font-size: xx-large;
    font-weight: 900;
    font-style: normal;
    align-items: center;
}

.working{
    display: flex;
    justify-items: center;
    font-style: italic;
    font-size: xx-large;
    margin-bottom: 7rem;
}

.find{
    width: fit-content;
    margin: 0rem 1rem;
    height: fit-content;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    color: rgb(8, 2, 14);
    font-size: larger;
    box-shadow: 20px 20px 20px ;
}

.centre{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.payments{
    width: fit-content;
    margin: 0rem 1rem;
    height: fit-content;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    color: rgb(8, 2, 14);
    font-size: larger;
    box-shadow: 20px 20px 20px ;
}

#official{
    width: fit-content;
    margin: 0rem 1rem;
    height: fit-content;
    padding: 0.5rem;
    text-align: center;
    border-radius: 5px;
    color: rgb(8, 2, 14);
    font-size: larger;
    box-shadow: 20px 20px 20px ;
    
}

#create{
    color: black;
    font-style: italic;
    font: 300;
}

.featured{
    display: flex;
    flex-direction: row;
    margin-left: 10px;
    margin-right: 50px;
    padding: 5px 10%;
    gap: 100px;
    padding-top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    padding-left: 1rem;
    border-style: groove;
    border-color: bisque;
}

#property{
    font-weight: bold;
    font-weight: 900;
    color: rgb(113, 79, 146);
    font-size: xxx-large;
}
#one{
    font-size: larger;
    font-weight: 500;
    font-style: italic;
}

.ivy{
    font-weight: 700;
    color: rgb(84, 68, 99);
}

.palace{
    font-weight: 700;
    color: rgb(84, 68, 99);
}

.rexona{
    font-weight: 700;
    color: rgb(84, 68, 99);
}

.view{
    padding: 10px;
    background-color: rgb(147, 147, 176);
    border-radius: 50px;
    cursor:pointer;
    transition:all 0.3s ease 0s;
    width: fit-content;
    margin-top: 50px;
    size: 30px;
}